.flex {
  display: flex;
}
main {
  width: 100%;
}
h1 {
  margin-bottom: 0.7em;
  text-align: center;
}
.addStyle {
  padding-bottom: 0.4rem;
  font-weight: bold;
  border-bottom: solid 5px #ffa8a9;
}

.ul {
  border-bottom: 1px solid #ffd88a;
  padding: 0;
}
.flex {
  padding: 0;
  padding-bottom: 0.5em;
  width: 55%;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.list {
  padding: 0;
}
li {
  /* リスト前の・を取る */
  list-style-type: none;
  font-size: 3vw;
}
.list li {
  padding: 0.3rem;
  margin-top: 0.5rem;
  background-color: white;
  border: 1px solid #ffd88a;
}
#list {
  padding: 0;
}

.lightgray {
  font-size: 0.7rem;
  color: rgb(136, 133, 133);
}

.list-flex {
  display: flex;
  flex-direction: column; /* 縦に並べる */
}

.dots {
  margin-left: 0.5rem;
  width: 1rem;
}

.time {
  font-size: 2.8vw;
  color: #888;
  margin-top: 0.5rem;
  text-align: left;
  width: 100%;
}
.text {
  margin-top: 0.6rem;
}

p {
  font-weight: bold;
  font-size: 0.8rem;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}
li {
  background-color: white;
  margin-bottom: 0.3rem;
  padding: 0.35rem;
}

.list-flex {
  width: 80%;
  margin: 0 auto;
}
@media only screen and (min-width: 600px) {
  html,
  body {
    overflow: hidden;
  }
  li {
    font-size: 0.45rem;
  }
  .time {
    font-size: 0.5rem;
  }
  .wrapper {
    height: 70vh;
    overflow: auto;
  }
}
