/* ----- リスト ----- */

ul {
  padding: 0;
}
/* .cook {
  list-style-image: url("../img/cook.png");
} */
li {
  padding-left: 3.5em;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  height: 6em;
  position: relative;
  margin-top: 0.7rem;
  background-color: white;
  align-items: flex-start;
  font-size: 3vw;
}
li::before {
  content: "";
  position: absolute;
  /* 祖先の要素を近い順に辿って、relative, absolute, fixed, stickyのいずれかが最初に指定された要素の位置を基準に、自身の位置を移動する */
  left: -1px;
  top: 0;
  width: 2.5rem;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

li > button {
  width: 2.1rem;
  height: 100%;
  border-style: none;
  background-color: #ffc7be;
  padding: 0;
}

main img {
  display: block;
  margin: 0 auto;
}
.cook::before {
  background-image: url("../img/cook.png");
}
.communication::before {
  background-image: url("../img/communication.png");
}
.action::before {
  background-image: url("../img/action.png");
}
.shopping::before {
  background-image: url("../img/shopping.png");
}
button {
  text-align: center;
  border-style: none;
}
button > img {
  width: 1.5rem;
}

.list-flex {
  width: 100%;
  /* background-color: #545454; */
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.text {
  margin-top: 0.6rem;
  width: 90%;
}

li span {
  display: inline-flex;
  align-items: flex-start; /* 文字と画像を上端で揃える */
}

li span img {
  margin-right: 0.3rem; /* 文字と「・・・」の画像の間にスペースを作る */
  width: 1rem;
}

li > button {
  height: 100%;
  border-style: none;
  background-color: #ffc7be;
  padding: 0;
}
/* ダイアログのスタイル */
dialog {
  /* デフォルトが inset: 0; なので top: auto; にして下側に配置する */
  top: auto;

  /* デフォルトで最大幅が設定されていて width: 100% にならないので解除 */
  max-width: none;

  /* デフォルトで fit-content になっていて中身の幅になってしまうので解除 */
  width: auto;

  /*
   * デフォルトが auto なので visible にして box-shadow が表示されるようにする
   * スクロールさせたい場合は子孫要素で overflow: auto などを指定する
   */
  overflow: visible;

  background-color: #fff;
  border: none;
  border-radius: 16px 16px 0 0;
  box-sizing: border-box;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

/* 背景のスタイルは ::backdrop 疑似要素で指定 */
dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
}
/* ダイアログと背景に CSS トランジションを設定 */
dialog,
dialog::backdrop {
  transition: 0.3s cubic-bezier(0.33, 1, 0.68, 1);
}

/* ダイアログの表示前、非表示後は下に移動 */
.show-from,
.hide-to {
  translate: 0 100%;
}

/* ダイアログの表示前、非表示後は背景を透明にする */
.show-from::backdrop,
.hide-to::backdrop {
  opacity: 0;
}
/* .edit-delete-containerが<li>の上に重なるように配置 */
.edit-delete-container {
  position: absolute; /* 親要素に相対的に位置を設定 */
  top: -2.5rem; /* liの上に表示 */
  right: 2rem; /* liの右端に配置 */
  display: flex;
  flex-direction: column; /* ボタンを縦に並べる */
  z-index: 10; /* リストの他の部分の上に表示 */
}

edit-delete-container > button {
  background-color: #ffffff;
}
.edit-btn {
  width: 6rem;
  border-bottom: solid 0.4px #e0e0e0;
  border-radius: 0.3rem 0.3rem 0 0;
  background-color: white;
  border: solid 1px rgba(243, 243, 243, 1);
  font-size: 0.7rem;
}
.delete-btn {
  border-radius: 0 0 0.3rem 0.3rem;
  background-color: white;
  border: solid 1px rgba(243, 243, 243, 1);
  font-size: 0.7rem;
}
