.wrapper {
  width: 88%;
  margin: 0 auto;
}
h1 {
  text-align: center;
}
a {
  text-decoration: none;
  padding: 0.3rem;
  margin-top: 0.5rem;
  background-color: white;
  color: rgb(84, 84, 84);
}

.list {
  padding: 0;
}
.list li {
  list-style-type: none;
  padding: 1em;
  font-size: 3.5vw;
  margin-top: 0.5rem;
  background-color: white;
  border: 1px solid #ffd88a;
}
